<%= form_for [account, transaction] do |f| %>
  <div class="form-field-container">
    <%= f.label :kind, 'Type' %>
    <%= f.select(:kind, Transaction::KINDS.map { |k| [k, k.downcase] }) %>
  </div>
  <div class="form-field-container">
    <%= f.label :amount %>
    <%= f.text_field :amount, value: display_amount(transaction.amount) %>
  </div>
  <div class="form-field-container">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit((transaction.new_record? ? 'Create' : 'Update') + ' Transaction', class: 'btn btn-main') %>
<% end %>
