<%= form_for account do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :kind, 'Type' %>
    <%= f.select(:kind, Account::KINDS.map { |k| [k, k.downcase] }, {}, { class: 'form-control' }) %>
  </div>
  <%= f.submit((account.new_record? ? 'Create' : 'Update') + ' Account' , class: 'btn btn-success') %>
<% end %>
