<%= render 'shared/content_title', title: 'Accounts' %>

<div class="space">
  <%= link_to "Create New Account", new_account_path, class: "btn btn-main" %>
</div>

<%= render 'shared/table_headings', headings: {'Name' => 3, 'Type' => 2, 'Balance' => 2} %>

<% @accounts.each do |acc| %>
  <div class="row space">
    <div class="col-3-12">
      <%= acc.name %>
    </div>
    <div class="col-2-12">
      <%= acc.kind %>
    </div>
    <div class="col-2-12">
      <%= acc.balance %>
    </div>
    <div class="col-1-12">
      <%= link_to 'View', account_path(acc), class: "btn" %>
    </div>
  </div>
<% end %>
